
@{
    ViewData["Title"] = "Blog";
}

<partial name="Page/_Loader" />
<partial name="Page/_Title" />


<!-- start blog-pg-section -->
<section class="blog-pg-section blog-masonry-4-columns section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-xs-12">
                <div class="blog-content masonry-grids clearfix">
                    <vc:blog></vc:blog>
                </div>

            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end blog-pg-section -->