
@{
    ViewData["Title"] = "Blog";
}

<partial name="Page/_Loader" />
<partial name="Page/_Title" />

<!-- start blog-pg-section -->
<section class="blog-pg-section blog-masonry-4-columns section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-xs-12">
                <div class="blog-content masonry-grids clearfix">
                    <div class="grid-item">
                        <div class="post format-standard-image">
                            <div class="entry-media">
                                <img src="assets/images/blog/img-2.jpg" alt="">
                            </div>
                            <ul class="entry-meta">
                                <li><a href="#"><i class="fi flaticon-tag-1"></i> Insurance, company</a></li>
                            </ul>
                            <h3><a href="#">And you can design with tons of artwork and fonts yours</a></h3>
                            <p>Samma game samples lay spread out on the table samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated</p>
                            <a href="#" class="theme-btn-s3">Read More</a>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="post format-standard">
                            <ul class="entry-meta">
                                <li><a href="#"><i class="fi flaticon-tag-1"></i> Insurance, company</a></li>
                            </ul>
                            <h3><a href="#">your insurance company looking for a catchy nowadays</a></h3>
                            <p>Samma game samples lay spread out on the table samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with</p>
                            <a href="#" class="theme-btn-s3">Read More</a>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="post format-gallery">
                            <div class="entry-media post-slider">
                                <img src="assets/images/blog/img-3.jpg" alt="">
                                <img src="assets/images/blog/img-2.jpg" alt="">
                            </div>
                            <ul class="entry-meta">
                                <li><a href="#"><i class="fi flaticon-tag-1"></i> Insurance, company</a></li>
                            </ul>
                            <h3><a href="#">Won’t find anywhere and you can design with tons thousnad</a></h3>
                            <p>Samma game samples lay spread out on the table samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated</p>
                            <a href="#" class="theme-btn-s3">Read More</a>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="post format-video">
                            <div class="entry-media video-holder">
                                <img src="assets/images/blog/img-4.jpg" alt="">
                                <a href="https://www.youtube.com/embed/7e90gBu4pas?autoplay=1" class="video-btn" data-type="iframe">
                                    <i class="fi flaticon-play"></i>
                                </a>
                            </div>
                            <ul class="entry-meta">
                                <li><a href="#"><i class="fi flaticon-tag-1"></i> Insurance, company</a></li>
                            </ul>
                            <h3><a href="#">And you can design with tons of artwork and fonts yours</a></h3>
                            <p>Samma game samples lay spread out on the table samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated</p>
                            <a href="#" class="theme-btn-s3">Read More</a>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="post format-standard-image">
                            <div class="entry-media">
                                <img src="assets/images/blog/img-5.jpg" alt="">
                            </div>
                            <ul class="entry-meta">
                                <li><a href="#"><i class="fi flaticon-tag-1"></i> Insurance, company</a></li>
                            </ul>
                            <h3><a href="#">And you can design with tons of artwork and fonts yours</a></h3>
                            <p>Samma game samples lay spread out on the table samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated</p>
                            <a href="#" class="theme-btn-s3">Read More</a>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="post format-standard">
                            <ul class="entry-meta">
                                <li><a href="#"><i class="fi flaticon-tag-1"></i> Insurance, company</a></li>
                            </ul>
                            <h3><a href="#">your insurance company looking for a catchy</a></h3>
                            <p>Samma game samples lay spread out on the table samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with</p>
                            <a href="#" class="theme-btn-s3">Read More</a>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="post format-quote">
                            <ul class="entry-meta">
                                <li><a href="#"><i class="fi flaticon-tag-1"></i> Insurance, company</a></li>
                            </ul>
                            <h3><a href="#">Insurance company looking for a dash</a></h3>
                            <p>Samma game samples lay spread out on the table samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with</p>
                            <a href="#" class="theme-btn-s3">Read More</a>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="post format-standard-image">
                            <div class="entry-media">
                                <img src="assets/images/blog/img-6.jpg" alt="">
                            </div>
                            <ul class="entry-meta">
                                <li><a href="#"><i class="fi flaticon-tag-1"></i> Insurance, company</a></li>
                            </ul>
                            <h3><a href="#">And you can design with tons of artwork and fonts yours</a></h3>
                            <p>Samma game samples lay spread out on the table samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated</p>
                            <a href="#" class="theme-btn-s3">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="pagination-wrapper masonry-pagi pagination-wrapper-center">
                    <ul class="pg-pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <i class="fi flaticon-back"></i>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <i class="fi flaticon-next"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end blog-pg-section -->
