@model IEnumerable<BestPlanViewModel>

@foreach (var item in Model)
{
    <div class="grid">
        <div class="policy-header">
            <h5>@item.PlanCateg</h5>
            <i class="@item.Icon"></i>
        </div>
        <div class="policy-body">
            <ul>
             <li>ravil</li>


            </ul>
            <a href="#" class="theme-btn-s3">Select The Plan</a>
        </div>
    </div>
}

