@model IEnumerable<AgentViewModel> 

<!-- start agents-section -->
<section class="agents-section p-b-0 section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="agents-area-with-title">
                    <div class="agents-grids clearfix">
                        <div class="grid">
                            <div class="section-title">
                                <span>Agents</span>
                                <h2>Our Agents</h2>
                            </div>
                                <div class="info">
                                    <h3>+994505431392</h3>
                                    <h4>ravil@mail.ru</h4>
                                    <a href="#" class="theme-btn">More about us</a>
                                </div>
                        </div>
                        @foreach (var item in Model)
                        {
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="uploads/@item.Photo" alt="">
                                </div>
                                <div class="agent-info">
                                    <h4>@item.FullName</h4>
                                    <p>@item.Position</p>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end agents-section -->
